#cloud-config
package_update: true
packages:
  - nginx
  - git
  - docker.io

write_files:
  - path: /etc/nginx/sites-available/my-site.conf
    permissions: '0644'
    content: |
      server {
        listen 80;
        server_name _;

        location / {
            proxy_pass http://127.0.0.1:8080;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
      }

runcmd:
  - ln -s /etc/nginx/sites-available/my-site.conf /etc/nginx/sites-enabled/
  - rm /etc/nginx/sites-enabled/default
  - systemctl restart nginx

  - systemctl start docker
  - systemctl enable docker

  - git clone https://github.com/ptreedev/terraform-practice-JP.git /home/ubuntu/terraform-practice-JP

  - docker build -t myapp:latest /home/ubuntu/terraform-practice-JP

  - docker stop myapp || true
  - docker rm myapp || true

  - docker run -d -p 8080:8080 --name myapp myapp:latest
